$primary: #e89f71;
$secondary: #3a3a3a;
$greenAccents: #2ec1ac;
$redAccents: #e97171;
$gray2: #616161;
$gray3: #898989;
$gray4: #fcf8f3;
$main: #f9f1e7;
$swiperBullet: #d8d8d8;
$darkBlue: #262f56;
$lightBG: #f4f5f7;
$white: #ffffff;
$fontsize: 16px;
$fontfamily: 'Gilroy', sans-serif;

$md1: 1200px;
$md2: 991px;
$md3: 767px;
$md4: 479px;

$maxWidth: 1440px;
$containerMaxWidth: 1230px;
